
.nav-item[b-cr0l99md44] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-cr0l99md44] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-cr0l99md44] {
        padding-bottom: 1rem;
    }

    .nav-item[b-cr0l99md44]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-cr0l99md44]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-cr0l99md44]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-cr0l99md44] {
        display: none;
    }

    .collapse[b-cr0l99md44] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
